<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }} - Project Name</title>
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" /> -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <style>
      html, body {
        height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        font-weight: 100;
        font-family: 'Lato';
      }

      .container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }

      .content {
        text-align: center;
        display: inline-block;
      }

      .title {
        font-size: 50px;
        color: #9b9292;
      }
      .title .version{
        font-size: 20px;
        color: #ededed;
      }
      .sub-title {
        display: block;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        color: #ededed;
      }
      .sub-title span{
        display: block;
        text-align: right !important;
      }

      #by-logo-company{
        width: 100%;
        height: auto;
        /* text-align: right !important; */
      }
      #by-logo-company *{
        float: right;
      }

      #by-logo-company .sub-title{
        display: block;
        width: 275px;
        font-size: 18px;
        height: 30px;
        line-height: 36px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #cc3366;
      }
      #by-logo-company .sub-title span{
        display: block;
        text-align: right !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <img src="/images/expressjs-logo.png" alt="ExpressJS">
        <div class="title">{{ name }}<sup class="version">v {{ version }}</sup></div>
      </div>
    </div>
  </body>
</html>